.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

@media only screen and (min-width: 300px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
