.container {
  margin: 10px;
  max-width: 200px;
  border-radius: 13px 15px 10px 10px;
  overflow: hidden;
  box-shadow: -1px 3px 11px 2px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

.container:hover {
  box-shadow: -1px 3px 11px 2px var(--yellow-pikachu);
  cursor: pointer;
}

.image {
  max-height: 155px;
}

.texts {
  padding: 5px 0;
  bottom: 0;
  background-color: rgba(77, 76, 125, 0.9);
  color: var(--white);
  width: 100%;
  text-align: center;
  font-size: small;
}
