/* Color from http://snapyourcolors.com/Chip/OiR6uh/ */

:root {
  --primary-color: #363062;
  --secondary-color: #4d4c7d;
  --third-color: #e1ffc2;
  --forth-color: #d8b9c3;
  --white: #fff;
  --yellow-pikachu: #efd40c;
}
