.container {
  --icon-size: 16px;
  --padding-icon: 5px;
  margin: 0 auto;
  width: 200px;
}

.inputWrapper {
  position: relative;
}

.input {
  border: 1px solid var(--secondary-color);
  outline: none;
  background-color: var(--white);
  color: var(--primary-color);
  height: 30px;
  padding: var(--padding-icon);
  padding-right: calc(var(--icon-size) + var(--padding-icon));
  width: 100%;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: auto 0;
  padding-right: 5px;
  color: var(--primary-color);
}
